<section id="about-me">
    <h2 class="about-me-heading fw-bold mb-4">About Me</h2>
    <div class="about-me contriner-fluid mb-4">
      <div class="row  content-margin py-5">
        <!-- <div class="about-image  col-xl-3 col-xxl-3 col-lg-3 col-md-12 col-sm-12 col-12  "> -->
        <!-- <div class="image-frame">

          </div> -->
        <div class=" profile-pic col-xl-3 col-xxl-3 col-lg-3 col-md-12 col-sm-12 col-12 mb-3">
          <img class="profile-picture" src="/images/profilePic.jpg" alt="profile-pic">
        </div>
        <!-- </div> -->
        <div
          class="about-text  text-center text-lg-start text-light text-break col-xl-9 col-xxl-9 col-lg-9 col-md-12 col-sm-12 col-12  ">
          <p>Hello, I'm Vishal, and I'm passionate about building things for the web.</p>
          
         <p>Lately, I've discovered my passion for the world of web development and the beauty behind building useful websites like the one you will find in this portfolio. I’m now looking for a junior dev position to finally kick start my career and learn among professionals.</p>
         <p>I have an experience of building Web applications with JavaScript / React / Nodejs / Express / MongoDB and some other cool libraries and frameworks like Bootstrap and Material-UI. </p>
        </div>
      </div>
    </div>
  </section>