
<!-- footer -->
<footer id="footer" class="footer py-1 navbar-padding mt-auto">
  <div class="container text-center">
    <div class="row align-items-center">
      <div class="col d-flex justify-content-start">
        <a  href="/"><img class="v-logo" src="/images/footerLogo.png" alt="logo"></a>
      </div>
      <div class="col d-flex justify-content-end text-light">
        <h5>made by <a class="text-decoration-none footer-link" href="https://github.com/Vishal-Tx" target=”_blank”>vishal gupta</a></h5>
      </div>
    </div>
  </div>
</footer>