<section id="skill-set">
  <h2 class="about-me-heading fw-bold my-5 ">My Skillsets</h2>
  <div
    class="skills-lane1 d-flex flex-wrap justify-content-xxl-evenly justify-content-xl-evenly justify-content-lg-evenly justify-content-md-evenly justify-content-sm-evenly justify-content-evenly">

    <i title="React" class="fa-brands fa-react fa-7x"></i>
    <i title="JavaScript" class="fa-brands fa-js fa-7x"></i>
    <i title="NodeJS" class="fa-brands fa-node fa-7x"></i>
    <i title="Bootstrap" class="fa-brands fa-bootstrap fa-7x"></i>





  </div>
  <div
    class="skills-lane2 d-flex flex-wrap justify-content-xxl-evenly justify-content-xl-evenly justify-content-lg-evenly justify-content-md-evenly justify-content-sm-evenly justify-content-evenly">
    <i title="Html5" class="fa-brands fa-html5 fa-7x"></i>
    <i title="Css3" class="fa-brands fa-css3-alt fa-7x"></i>
    <i title="MongoDB" class="icon-mongodb" style="font-size:6em;"></i>
    <i title="Git" class="fa-brands fa-git-alt fa-7x"></i>


  </div>

</section>